* body{
    font-family: 'Poppins', sans-serif;
    margin: 0px 20px;
    background-image: linear-gradient(to bottom, #817267 30%, #F2DBCE 100%);
}

.en{
    color:#00a1ff;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 20px;
}
.es{
    color:#333;
    padding-right: 10px;
    font-size: 20px;
}
.check{
    position: relative;
    width: 50px;
}
.check::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}
.check::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;

}

.check:checked::after{
    left: 25px;
    border: 2px solid #00a1ff;
}
.check:checked::before{
    background: #00a1ff;
}
.traductor{
    display: flex;
    justify-content: center;
    
}
.foto{
    background-image: url(/img/muerte_guemes.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.contenido-foto{
    position:absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-foto h1{
    font-size: 55px;
    color: aliceblue;
    font-weight: 400;
}

.imagen-guemes{
    background-image: url(/img/Martín_Miguel_de_Güemes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 350px;
    margin-bottom: 25px;
}

.home_about-tittle{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
} 

.home_about-contexto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_nav{
    display: flex;
    justify-content: center;
    list-style: none;
}

.home_nav li:hover{
    background-color: #26211A;
}

.nav-link:hover{
    color: #F2DBCE !important;
}

.home_nav li {
    display: flex;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin: 0px 10px;
    text-transform: uppercase;
    color: aliceblue;
    transition: 0.3s;
}

.home_nav ul {
    list-style: none;
    justify-content: center;
    
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 25% !important;
    margin-top: 0.125rem;
}

.text{
    margin-right: 20px;
    text-align: justify;
}

.nav-link {
    color: black !important;
}

.sombra{
    -webkit-box-shadow: 10px 5px 15px 0px rgba(112, 112, 112, 0.51);
    -moz-box-shadow: 10px 5px 15px 0px rgba(112,112,112, 0.51);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #F2DEA0 50%, #f1efde 100%);
}

.seccion-informatica {
    justify-content: center;
}

.seccion-electronica{
    justify-content: center;
}

.seccion-imagen{
    text-align: center;
    padding-bottom: 15px;
}

.seccion-texto{
    text-align: center;
    padding-bottom: 15px;
}


/* Medias Queries*/
@media (max-width: 1024px){
    .contenedor{
        max-width: 900px;
        margin: 0 auto;
    }
}
@media (max-width: 768px){

    .contenido-foto h1{
        font-size: 40px;
        color: aliceblue;
        font-weight: 400;
    }

    .home_nav{
        display: flex;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;
    }

    .contenedor{
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 480px){
    .contenido-foto h1{
        font-size: 27px;
        font-weight: 600;
        color: aliceblue;
        font-weight: 400;
        text-align: center;
    }

    .home_about-contexto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagen-guemes{
        height: 300px;
        width: 250px;

    }

    .contenedor{
        max-width: 400px;
        margin: 0 auto;
    }

    .foto{
        background-image: url(/img/muerte_guemes-Celular.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .home_nav li {
        display: flex;
        font-size: 15px;
        text-align: center;
        align-items: center;
        margin: 0px 10px;
        text-transform: uppercase;
        color: aliceblue;
    }
}