/*---Map---*/

$map-imagen:(
    imagen1:"../img/proyecto-1i.png",
    imagen2:"../img/proyecto-2i.png",
    imagen3:"../img/proyecto-3i.png",
    imagen4:"../img/proyecto-4i.png",
    imagen5:"../img/proyecto-5i.png",
    imagen6:"../img/proyecto-6i.png"
);